%section.grade-pass-fail
  %label.switch-socket
    {{textForSwitch()}}
    %input{:type => "checkbox", :checked => "true"}(ng-click='toggleSwitch()' ng-class='switchState()')
    .switch-handle.round
